

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Testando JSP</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="title" content="Web site" />
	<meta name="description" content="Site description here" />
	<meta name="keywords" content="keywords here" />
	<meta name="language" content="en" />
 	<meta name="subject" content="Site subject here" />
	<meta name="robots" content="All" />
	<meta name="copyright" content="Your company" />	
	<meta name="abstract" content="Site description here" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

	<link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>



    	<div id="content-wrapper">
    		<div id="main">
    			

			</div>
    	</div>
    
    	<div id="footer">
    		<p>
				
Design by  
<a href="mailto:">Fabio Dela Bruna</a> and  <a href="http://www.dotemplate.com">doTemplate</a>
&nbsp;|&nbsp;
Web template created with <a href="http://www.dotemplate.com">doTemplate</a>

       		</p>
    	</div>	
    </div>
</body>


</html>
