<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ve.java.core.launcher.JavaBean">
<booleanAttribute key="isSWT" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Olaria/src/com/br/olaria/view/MainGUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.br.olaria.view.MainGUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Olaria"/>
</launchConfiguration>
