<HTML>
<HEAD>
<TITLE>EXEMPLO 2</TITLE>
</HEAD>
<BODY>
<table>
	<form method="post" action="calcula">
		<tr>
			<td>Valor 1:</td>
			<td><input type="text"	name="valor1"></td>
		</tr>
		<tr>
			<td>Operação:</td>
			<td>
				<select name="opcao">
					<option>+</option>
					<option>-</option>
					<option>/</option>
					<option>*</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Valor 2:</td>
			<td><input type="text" name="valor2"></td>	
		</tr>
		<tr>
			<td><input type="submit" value="Calcular"></td>
		</tr>
	</form>
</table>
</BODY>
</HTML>