/* Comentários */
/* ========================================================================== */


#comentarios {
	margin: 0 0 20px 0;
}
#comentarios h2 {
	border: 1px solid #d3d7cf;
	border-left: 0;
	border-right: 0;
	padding: 8px 0;
	margin: 0;
}
#listaDeComentarios {
	font-size: 12px;
	color: #384042;
    overflow: hidden;
}
#listaDeComentarios .comentario {
	border-bottom: 1px solid #d3d7cf;
	padding: 14px 0;
	overflow: hidden;
    clear: left;
}
#listaDeComentarios .comentario .comentario {
	margin: 14px 0 0 20px;
	border-bottom: 0;
	padding-bottom: 0;
	border-top: 1px solid #eeeeec;
    overflow: hidden;
}
#listaDeComentarios .comentario .informacoesComentario {
	width: 180px;
	margin-right: 20px;
	float: left;
}
#listaDeComentarios .comentario .informacoesComentario a {
    color: #384042;
}
#listaDeComentarios .comentario .informacoesComentario img {
	float: left;
	margin-right: 10px;
    width: 43px;
    height: 54px;
}
#listaDeComentarios .comentario .informacoesComentario .data {
	color: #888a85;
}
#listaDeComentarios .comentario .mensagem {
	margin-left: 200px;
	line-height: 140%;
    _height: 50px;
}
#listaDeComentarios .comentario .mensagem h3 {
	border: 0;
	padding: 0;
	font-size: 12px;
}
#listaDeComentarios .comentario .acoes {
	margin: 10px 0 0 200px;
}
#listaDeComentarios .comentario .acoes a {
	color: #3465a4;
	padding-left: 17px;
	text-decoration: underline;
	margin-right: 10px;
	line-height: 17px;
}
#listaDeComentarios .comentario .acoes a.responder {
	background: url(../img/artigo/iconesAcoes.png) 0 2px no-repeat;
}
#listaDeComentarios .comentario .acoes a.respostas {
	background: url(../img/artigo/iconesAcoes.png) 0 -11px no-repeat;
	padding-left: 15px;
}

/* Formulário de comentário */
/* ========================================================================== */

.formComentario {
	border: 1px solid #d3d7cf;
	margin-top: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
    background: #fff;
}
.espacoResposta .formComentario {
	margin-left: 20px;
}
.formComentario .cancelarResposta {
	display: none;
}
.espacoResposta .formComentario .cancelarResposta {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	background: url(../img/artigo/fecharRespostaComentario.png) no-repeat;
	text-indent: -999px;
	overflow: hidden;
}
.formComentario .titulo {
	background: #eeeeec url(../img/artigo/formComentario.png) 10px 10px no-repeat;
	padding: 10px 10px 10px 40px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: 1px solid #d3d7cf;
	color: #2e3436;
	overflow: hidden;
}
.formComentario .titulo h3 {
	font-size: 14px;
	display: inline;
}
.formComentario .titulo p {
	display: inline;
	margin-left: 1em;
}
.formComentario .titulo a {
	color: #3465a4;
	text-decoration: underline;
}
.formComentario .titulo a:visited {
	color: #729fcf;
}
.formComentario .titulo .login {
	margin-top: 10px;
	height: 38px;
}
.formComentario .titulo .login div {
	float: left;
	margin-right: 10px;
}
.formComentario .titulo .login div.dados {
	line-height: 150%;
	margin-right: 20px;
}
.formComentario .titulo .login div label {
	display: block;
	height: 1em;
	margin-bottom: 3px;
}
.formComentario .titulo .login div input {
	width: 160px;
}
.espacoResposta .formComentario .titulo .login div input {
	width: 150px;
}
.formComentario .titulo .status {
    display: block;
    height: 20px;
    float: left;
    color: #888a85;
	margin-top: 1em;
	padding-top: 6px;
	color: #888a85;
}
.formComentario .titulo .status.externo {
    margin-top: -4px;
    padding-top: 4px;
    float: right;
}
.formComentario .titulo .status.alerta {
	background: url(../img/artigo/iconeErroComentario.png) 0 4px no-repeat;
	padding-left: 22px;
}
.formComentario .titulo .status.carregando {
	background: url(../img/loading.gif) 0 4px no-repeat;
	padding-left: 22px;
}
.formComentario .titulo .status img {
	vertical-align: bottom;
	margin-right: 5px;
}
.formComentario .campos {
	padding: 10px;
	overflow: hidden;
}
.formComentario .campos label.oculto {
	display: none;
}
.formComentario .campos .vazio {
	color: #888a85;
	font-weight: 100 !important;
}
.formComentario .campos .strTitulo {
	margin-bottom: 5px;
	font-weight: bold;
	width: 579px;
	padding: 3px;
}
.espacoResposta .formComentario .campos .strTitulo {
	width: 527px;
}
.formComentario .campos textarea {
	margin-bottom: 10px;
	width: 98%;
	height: 10em;
	font: inherit;
	padding: 3px;
    display: block;
}
.espacoResposta .formComentario .campos textarea {
	height: 6em;
	/*width: 527px;*/
}
.formComentario .campos .submit {
	float: right;
}